body{
    width: 99%;
}

#main{
    width: 80%;
    margin: 0 auto;
}

#Resolve_div{
    width: 800px;
    margin: 0 auto;
    display: flex;
}

#Resolve_source{
    padding: 8px;
    text-align: center;
    flex: 0.8;
    border: 1px solid black;
    border-radius: 5px;
}

#input{ 
    width: 600px;
    border: 1px solid black;
    border-radius: 5px;
    flex: 4;
    margin: 0 10px;
}

#Resolve{
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    flex: 0.4;
    text-decoration: none;
    color: black;
}

#iframe_div{
    width: 80%;
    margin: 20px auto;
}

#iframe{
    border: 2px solid;
    width: 100%;
    height: 600px;
    border-radius: 5px;
}